body {
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 720px;
    width: 1280px;
    background-color: #F5F5F5;
}

.custom-navbar {
    height: 84px;
}

.main-container {
    display: grid;
    grid-template-columns: 512px 768px;
    height: 576px;
    justify-content: center;
    background-color: #696969;
}

.mode-selection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.mode-selection .progress{
    width: 250px;
}

.slider_container {
    margin: auto;
    padding: 0;
    width: 500px;
    height: 60px;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 100px 30px 270px 30px 70px;
    align-items: center;
    justify-content: center;
}

.slider_joint_val {
    margin: auto;
    appearance: none;
    display: grid;
    width: 250px;
    height: 10px;
    border-radius: 5px;
    background: #A9A9A9;
}

.slider_joint_val:hover {
    opacity: 1;
}

.slider_joint_val::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #282828;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

.slider_joint_val::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #282828;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

.minus_sign_container {
    background-color: #696969;
    outline: none;
    border: 1px solid #282828;
    color: #282828;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.minus_sign_container:hover {
    color: white;
    background-color: #282828;
    cursor: pointer;
}

.plus_sign_container {
    background: #696969;
    outline: none;
    border: 1px solid #282828;
    color: #282828;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.plus_sign_container:hover {
    color: white;
    background-color: #282828;
    cursor: pointer;
}

.joint_name {
    color: #f5f5f5;
    font-size: 16px;
    padding-left: 15px;
}

.joint_values {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
}

.custom-footer {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: limegreen;
    
}

/* input:focus+.slider {
    box-shadow: 0 0 1px limegreen;
} */

input:checked+.slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#myTab .nav-item{
    width: 256px;
}

#myTab .nav-item button{
    width: 100%;
    color: #282828;
}

#myTab .nav-item button:hover{
    color: #282828;
}

.simulation-mode{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 200px;
}

.power-on-mode{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 200px;
}

.system_state{
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.disabled{
    opacity: 0.5;
    /* color: red; */
}